body{
    font-family: 'Poppins', sans-serif;}
.midume_font{
    font-size: 25px;
}
.half_weight{
    width: 50%;
}
h1{
    font-size: 50px;
}
.link_button{
    background-image: linear-gradient(to right, rgb(50, 50, 240), rgb(186, 138, 248));
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    color: whitesmoke;
}
#celebrity_colour{
    color: orange;
}
#section1{
    margin-bottom: 80px;
    padding-top: 60px;
    padding-left: 80px;
    display: flex;
}
#section1div1{
    padding-top: 120px;
    color: gray;
}



#section2{
    display: flex;
    margin-bottom: 80px;
    padding-left: 150px;
    background-image: url(images/7.png);
    color: gray;
}
#third_middle{
    text-align: center;
    padding: 10px 400px;
    color: gray;
}
#section3div2{
    display: flex;
    margin-bottom: 80px;
    color: gray;
    width: 33%;
}
.food_div{
    margin: 40px;
    border: 20px solid white;
    border-radius: 20px;
    box-shadow:1px 1px 50px rgb(218, 214, 214);
}